<div *ngIf="service2.getOrders().length === 0" class="empty-cart-container">
  <i class="fa fa-shopping-cart fa-5x empty-cart-icon"></i>

  <h1 class="name">My Orders</h1>

  <h2 class="name empty-cart-message">
    Nothing yet, add some products and check them out :)
  </h2>
</div>

<div
  *ngIf="service2.getOrders().length > 0 && !selectedOrder"
  class="orders-page"
>
  <h2 class="heading">MyOrders</h2>

  <div
    class="order-card"
    *ngFor="let order of service2.getOrders()"
    [routerLink]="['/cart', order.id]"
  >
    <div class="left">
      <div class="row">
        <i class="fa fa-calendar"></i>
        <span>{{ order.date | date: 'dd.MM.yy' }}</span>
      </div>

      <div class="row">
        <i class="fa fa-shopping-bag"></i>
        <span>{{ order.products.length }}</span>
      </div>
    </div>

    <div class="right">
      <span class="total">${{ order.total }}</span>
      <span class="arrow">></span>
    </div>
  </div>
</div>

<div *ngIf="selectedOrder" class="orders-page">
  <div class="orders-header">
    <button class="back-btn" (click)="goBack()">←</button>
    <h2 class="heading">MyOrder</h2>
  </div>

  <div class="order-box">
    <div class="order-item" *ngFor="let item of selectedOrder.products">
      <img
        [src]="item.images?.[0] || 'https://placehold.co/600x400'"
        class="order-img"
      />

      <div class="order-info">
        <p class="title">{{ item.title }}</p>
        <p class="price">${{ item.price }}</p>
      </div>

      <span class="qty">{{ item.quantity }}</span>
    </div>
  </div>
</div>